@page "/person/edit/{PersonId:int}"

<h3>Edit Person</h3>

@if (person != null)
{
    <PersonForm Person="person" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int PersonId { get; set; }

    Person person;

    protected override void OnInitialized()
    {
        person = new Person()
        {
            Name = "Mina",
            Biography = "A good man",
            DateOfBirth = new DateTime(1985, 8, 20),
            Id = 1
        };
    }

    private void Edit()
    {
        Console.WriteLine("Editing this person...");
    }
}
