@page "/"
@inject IMoviesRepository moviesRepository

<div>
    <h3>In Theatres</h3>
    <MoviesList Movies="moviesInTheatre" />
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="upcomingReleases" />
</div>


@code {

    private List<Movie> moviesInTheatre;
    private List<Movie> upcomingReleases;

    protected async override Task OnInitializedAsync()
    {
        var response = await moviesRepository.GetIndexPageDTO();
        moviesInTheatre = response.MoviesInTheatre;
        upcomingReleases = response.UpcomingReleases;
    }
}