@page "/movie/edit/{MovieId:int}"
@inject IMoviesRepository moviesRepository
@inject NavigationManager navManager

<h3>Edit Movie</h3>

@if (movie != null)
{
    <MovieForm Movie="movie" 
               OnValidSubmit="Edit" 
               NotSelectedGenres="notSelectedGenres" 
               SelectedGenres="selectedGenres"
               SelectedActors="selectedActors" />
}

@code {

    [Parameter] public int MovieId { get; set; }

    private Movie movie;
    private List<Genre> notSelectedGenres;
    private List<Genre> selectedGenres;
    private List<Person> selectedActors;


    protected override async Task OnInitializedAsync()
    {
        var movieUpdateDto = await moviesRepository.GetMovieUpdateDTO(MovieId);
        movie = movieUpdateDto.Movie;
        notSelectedGenres = movieUpdateDto.NotSelectedGenres;
        selectedGenres = movieUpdateDto.SelectedGenres;
        selectedActors = movieUpdateDto.Actors;
    }

    private async Task Edit()
    {
        await moviesRepository.UpdateMovie(movie);
        navManager.NavigateTo($"movie/{movie.Id}/{movie.Title.Replace(" ", "-")}");
    }

}
