@page "/movies/search"
@inject IMoviesRepository moviesRepository
@inject IGenreRepository genreRepository
@inject NavigationManager navManager

<h3>Search Movies</h3>

<EditForm Model="filterMoviesDTO">
    <div class="form-inline">
        <div class="form-group mb-2">
            <label for="title" class="sr-only">Title</label>
            <input type="text" id="title" class="form-control" placeholder="Movie Title"
                   @bind-value="filterMoviesDTO.Title"
                   @bind-value:event="oninput"
                   @onkeypress="((KeyboardEventArgs e) => TitleKeyPress(e))" />
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <select class="form-control" @bind="filterMoviesDTO.GenreId">
                <option value="0">
                    -- select genre --
                </option>
                @foreach (var genre in Genres)
                {
                    <option value="@genre.Id">@genre.Name</option>

                }
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="checkbox" class="form-check-input" id="upcomingReleases" @bind="filterMoviesDTO.UpcomingReleases" />
            <label class="form-check-label" for="upcomingReleases">
                Upcoming Releases
            </label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="checkbox" class="form-check-input" id="inTheatres" @bind="filterMoviesDTO.InTheatres" />
            <label class="form-check-label" for="inTheatres">
                In Theatres
            </label>
        </div>

        <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="SearchForMovies">Filter</button>
        <button type="button" class="btn btn-danger mb-2 " @onclick="Clear">Clear</button>
    </div>
</EditForm>
<MoviesList Movies="movies"></MoviesList>

<Pagination CurrentPage="@filterMoviesDTO.Page" TotalAmountPages="totalAmountPages"
            SelectedPage="SelectedPage"></Pagination>

@code {

    private List<Movie> movies;
    private FilterMoviesDTO filterMoviesDTO = new FilterMoviesDTO();
    private List<Genre> Genres = new List<Genre>();
    private int totalAmountPages;

    protected override async Task OnInitializedAsync()
    {
        Genres = await genreRepository.GetGenres();
        var queryStrings = navManager.GetQueryStrings(navManager.Uri);
        if(queryStrings != null)
        {
            FillFilterWithQueryStrings(queryStrings);

        }

        await LoadMovies();
    }

    private void FillFilterWithQueryStrings(Dictionary<string, string> queryStrings)
    {
        if (queryStrings.ContainsKey("genreId"))
        {
            filterMoviesDTO.GenreId = int.Parse(queryStrings["genreId"]);
        }

        if (queryStrings.ContainsKey("title"))
        {
            filterMoviesDTO.Title = queryStrings["title"];
        }

        if (queryStrings.ContainsKey("intheaters"))
        {
            filterMoviesDTO.InTheatres = bool.Parse(queryStrings["intheaters"]);
        }

        if (queryStrings.ContainsKey("upcomingReleases"))
        {
            filterMoviesDTO.UpcomingReleases = bool.Parse(queryStrings["upcomingReleases"]);
        }

        if (queryStrings.ContainsKey("page"))
        {
            filterMoviesDTO.Page = int.Parse(queryStrings["page"]);
        }
    }

    private async Task SelectedPage(int page)
    {
        filterMoviesDTO.Page = page;
        await LoadMovies();
    }

    private async Task LoadMovies()
    {
        var queryString = GenerateQueryString();
        if(!string.IsNullOrWhiteSpace(queryString))
        {
            queryString = $"?{queryString}";
            navManager.NavigateTo("/movies/search" + queryString);
        }

        var paginatedResponse = await moviesRepository.GetMoviesFiltered(filterMoviesDTO);
        movies = paginatedResponse.Response;
        totalAmountPages = paginatedResponse.TotalAmountPages;
    }

    private async Task TitleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchForMovies();
        }
    }

    private async Task SearchForMovies()
    {
        await LoadMovies();
    }

    private async Task Clear()
    {
        filterMoviesDTO.Title = string.Empty;
        filterMoviesDTO.GenreId = 0;
        filterMoviesDTO.UpcomingReleases = false;
        filterMoviesDTO.InTheatres = false;
        await LoadMovies();
    }

    private string GenerateQueryString()
    {
        var queryStringsDictionary = new Dictionary<string, string>();
        queryStringsDictionary["genreId"] = filterMoviesDTO.GenreId.ToString();
        queryStringsDictionary["title"] = filterMoviesDTO.Title ?? "";
        queryStringsDictionary["inTheatres"] = filterMoviesDTO.InTheatres.ToString();
        queryStringsDictionary["upcomingReleases"] = filterMoviesDTO.UpcomingReleases.ToString();
        queryStringsDictionary["page"] = filterMoviesDTO.Page.ToString();

        var defaultValues = new List<string>()
        {
            "false", "", "0"
        };

        return string.Join("&", queryStringsDictionary
            .Where(x => !defaultValues.Contains(x.Value.ToLower()))
            .Select(x => $"{x.Key}={System.Web.HttpUtility.UrlEncode(x.Value)}").ToArray());
    }
}
